{% extends "ProyectoWebApp/base.html" %}

{% load static %}


{% block title %}
<title>Registro &mdash; Arbolado Urbano UNLa</title>
{% endblock %}

{% block content %}



    <div class="site-section"  data-aos="fade">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Iniciar</h2>
              </div>
            </div>
          </div>

        </div>
        
        <div class="row">
          <div class="col-lg-8 mb-5">
            <form method="POST" >


             

                    {% csrf_token %}
               
               
                <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        {{ form.as_p }}
                        
                    </div>

                        
                    
                  </div>

              

           
                  <div class="row form-group">
                    <div class="col-md-12">
                      <input type="submit" value="REGISTRAR" class="btn btn-primary py-2 px-4 text-white">
                    </div>
                  </div>
             
                 

            </form>

            <a href="/login">Iniciar sesión</a>


          </div>



          <div class="col-lg-3 ml-auto">
            <div class="mb-3">
              <p class="mb-0 font-weight-bold text-white">Dirección:</p>
              <p class="mb-4">29 de Septiembre 3901 (1826) - Remedios de Escalada, Lanús.</p>

              <p class="mb-0 font-weight-bold text-white">TEL:</p>
              <p class="mb-4"><a href="#">Tel. /Fax.: 011-5533-5600</a></p>

              <p class="mb-0 font-weight-bold text-white">E-Mail:</p>
              <p class="mb-0"><a href="#">nperez_dcao_smn@outlook.com</a></p>

            </div>

          </div>



        </div>
      </div>
    </div>


    {% endblock %}